@import url("https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro&display=swap");
body {
  font-size: 16px;
  font-weight: 300;
  background: #dfdfd7;
  font-family: "Source Sans Pro", sans-serif; }

p,
p.x-small,
span,
a {
  line-height: 1.2em;
  font-size: 1.03em;
  margin-bottom: 1em;
  font-weight: 400;
  font-style: normal;
  word-spacing: 0.1em;
  letter-spacing: 0.01em; }

p.small,
.small,
.small a {
  line-height: 1.2em;
  font-weight: 400;
  font-size: 0.9em !important;
  font-style: normal;
  letter-spacing: 0.02em;
  word-spacing: 0.1em;
  letter-spacing: 0.01em; }

p.x-small {
  font-size: 0.694em !important;
  font-style: normal;
  letter-spacing: 0.03em; }

h1,
h2,
h3,
h4 {
  font-family: "Merriweather", serif;
  margin: 0.4em 0 0.3em 0;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  font-size: 1.953em;
  font-style: normal;
  letter-spacing: 0.04em; }

h2 {
  font-size: 1.563em;
  font-style: normal;
  letter-spacing: 0.02em; }

h3 {
  font-size: 1.363em;
  font-style: normal;
  letter-spacing: 0.01em; }

h4 {
  font-size: 1.14em;
  font-style: normal;
  letter-spacing: 0.01em;
  font-weight: 200; }

a,
a:active,
a:visited {
  color: #151515;
  outline: none; }

button {
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(33%, #ededed), to(#dfdfd7));
  background: -webkit-linear-gradient(top, #ededed 33%, #dfdfd7 100%);
  background: -o-linear-gradient(top, #ededed 33%, #dfdfd7 100%);
  background: linear-gradient(to bottom, #ededed 33%, #dfdfd7 100%);
  background-color: #a2b1a9;
  border-radius: 6px;
  border: 1px solid #dfdfd7;
  display: inline-block;
  cursor: pointer;
  color: #30302e;
  font-family: "Merriweather", serif;
  font-size: 1em;
  padding: 6px 24px;
  text-decoration: none; }

button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #dfdfdf), to(#ededed));
  background: -webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background: -o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color: #e9d94d; }

button:active {
  position: relative;
  top: 1px; }

header {
  padding-top: 2em;
  height: 5em;
  text-align: center; }
  header h1 {
    margin-top: 0; }

footer {
  font-size: 0.8em;
  height: 2em;
  margin-top: 5em;
  text-align: center;
  color: #a2b1a9; }

.PokemonList {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap: 25px;
  justify-items: center; }
  .PokemonList h1 {
    text-align: center; }

.PokemonCardOuter {
  background: #f1f1ed;
  width: 290px;
  height: 380px;
  padding: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px; }

.PokemonCardInner {
  background: -webkit-linear-gradient(315deg, #dfdfd7 30%, #62c499 100%);
  background: -o-linear-gradient(315deg, #dfdfd7 30%, #62c499 100%);
  background: linear-gradient(135deg, #dfdfd7 30%, #62c499 100%);
  width: 250px;
  height: 340px;
  padding: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px; }

.HeroWrapper {
  width: 100%;
  margin: 50px 0;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  box-pack: center;
  box-align: center; }
  .HeroWrapper h1 {
    text-align: center; }

.PokemonMain button {
  margin-top: 3em;
  width: 200px;
  height: 2.62em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 2em; }

.PokemonMain h3 {
  text-align: center;
  padding-bottom: 2em;
  padding-top: 2em; }

.PokemonHeroOuter {
  background-color: #f1f1ed;
  width: 310px;
  padding: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px; }

.PokemonHeroInner {
  background: -webkit-linear-gradient(315deg, #F2CD48 0%, #FD803F 100%);
  background: -o-linear-gradient(315deg, #F2CD48 0%, #FD803F 100%);
  background: linear-gradient(135deg, #F2CD48 0%, #FD803F 100%);
  width: 270px;
  padding: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px; }

.CardShadow {
  box-shadow: 0px 14px 18px 0px rgba(50, 50, 50, 0.22);
  -webkit-box-shadow: 0px 14px 18px 0px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: 0px 14px 18px 0px rgba(50, 50, 50, 0.22); }

.CenterHero {
  margin: 0 auto;
  width: 270px; }

.Center {
  margin: 0 auto;
  width: 210px; }

.ImgContainerHero {
  float: left;
  width: 135px; }
  .ImgContainerHero img {
    width: 100%; }

.ImgContainer {
  width: 135px;
  display: block;
  margin: 0 auto; }
  .ImgContainer img {
    width: 100%; }

.Clearfix:after {
  content: "";
  clear: both;
  display: table; }

.PokemonCardInner h1,
.PokemonCardInner h3,
.PokemonHeroInner h1,
.PokemonHeroInner h3 {
  text-align: center;
  padding-bottom: 1em; }

.CenterContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.popup-content {
  width: 100% !important;
  background: none !important;
  border: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
