// Fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro&display=swap');

// SCSS shorts.
$font01: 'Merriweather', serif;
$font02: 'Source Sans Pro', sans-serif;
$color-black: #151515;
$color-dark: #30302e;
$color-mid: #a2b1a9;
$color-light: #dfdfd7;
$color-white: #f1f1ed;
$color-kick: #e9d94d;

body {
   font-size: 16px;
   font-weight: 300;
   background: $color-light;
   font-family: $font02;
 }
 
 p, 
 p.x-small, 
 span, 
 a {
   line-height: 1.2em;
   font-size: 1.03em;
   margin-bottom:1em;
   font-weight: 400;
   font-style: normal;
   word-spacing: 0.1em;
    letter-spacing: 0.01em;
 }
 
 p.small,
 .small,
 .small a {
   line-height: 1.2em;
   font-weight: 400;
   font-size: 0.9em !important;
   font-style: normal;
   letter-spacing: 0.02em;
   word-spacing: 0.1em;
    letter-spacing: 0.01em;
 }
 
 p.x-small {
   font-size: 0.694em !important;
   font-style: normal;
   letter-spacing: 0.03em;
 }
 
 h1, 
 h2, 
 h3,
 h4 {
   font-family: $font01;
   margin: 0.4em 0 0.3em 0;
   font-weight: inherit;
   line-height: 1.2;
 }
 
 h1 {
   font-size: 1.953em;
   font-style: normal;
   letter-spacing: 0.04em;
 }
 
 h2 {
   font-size: 1.563em;
   font-style: normal;
   letter-spacing: 0.02em;
 }
 
 h3 {
   font-size: 1.363em;
   font-style: normal;
   letter-spacing: 0.01em;
 }

 h4 {
  font-size: 1.14em;
  font-style: normal;
  letter-spacing: 0.01em;
  font-weight: 200;
}
 
 a,
 a:active,
 a:visited {
   color: $color-black;
   outline: none;
 }

button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 33%, $color-light 100%);
	background-color:$color-mid;
	border-radius:6px;
	border:1px solid $color-light;
	display:inline-block;
	cursor:pointer;
	color: $color-dark;
	font-family:$font01;
	font-size:1em;
	padding:6px 24px;
	text-decoration:none;

}
button:hover {
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color:$color-kick;
  }
button:active {
  position:relative;
  top:1px;
}

 // Styling.

 header {
   padding-top: 2em;
   height: 5em;
   text-align: center;

  h1 {
    margin-top: 0;
  }
 }

footer {
  font-size: 0.8em;
   height: 2em;
   margin-top: 5em;
   text-align: center;
   color: $color-mid;
}

// Responsive grid for the PokemonCards.
.PokemonList {
  display: grid;
  //border: 10px solid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap: 25px;
  justify-items: center;
  
  h1 {
    text-align: center;
  }

 }

.PokemonCardOuter {
  background: $color-white;
  width: 290px;
  height: 380px;
  padding: 20px;
  border-radius: 15px;
  // Safari and Chrome
  -webkit-border-radius: 15px; 
  // Firefox
  -moz-border-radius:    15px; 
}

.PokemonCardInner {
  background: linear-gradient(135deg, $color-light 30%,#62c499 100%);
  width: 250px;
  height: 340px;
  padding: 20px;
  border-radius: 15px;
  // Safari and Chrome
  -webkit-border-radius: 15px; 
  // Firefox
  -moz-border-radius:    15px; 
}

.HeroWrapper {
  width: 100%;
  margin: 50px 0;

  // Firefox
  display:  -moz-box;
            -moz-box-pack: center;
            -moz-box-align: center;
  // Safari and Chrome
  display:  -webkit-box;
            -webkit-box-pack: center;
            -webkit-box-align: center;
  // W3C
  display:    box;
  box-pack:   center;
  box-align:  center;

  h1 { // Center "Loading pokemons.." text.
    text-align: center;
  }


}

.PokemonMain {

  button {
    margin-top: 3em;
    width: 200px;
    height: 2.62em;
    display: flex; justify-content: center;
    margin: 2em;
  }

  h3 {
    text-align: center;
    padding-bottom: 2em;
    padding-top: 2em;
  }
}

.PokemonHeroOuter {
  background-color: $color-white;
  width: 310px;

  padding: 20px;

  border-radius: 15px;
  // Safari and Chrome
  -webkit-border-radius: 15px; 
  // Firefox
  -moz-border-radius:    15px; 
}

.PokemonHeroInner {
  background: linear-gradient(135deg,#F2CD48 0%,#FD803F 100%);

  width: 270px;
  padding: 20px;

  border-radius: 15px;
  // Safari and Chrome
  -webkit-border-radius: 15px; 
  // Firefox
  -moz-border-radius:    15px; 
}

.CardShadow {
  box-shadow:         0px 14px 18px 0px rgba(50, 50, 50, 0.22);
  // Safari and Chrome
  -webkit-box-shadow: 0px 14px 18px 0px rgba(50, 50, 50, 0.22);
   // Firefox
  -moz-box-shadow:    0px 14px 18px 0px rgba(50, 50, 50, 0.22);
}

.CenterHero {
  margin: 0 auto;
  width: 270px;
}

.Center {
  margin: 0 auto;
  width: 210px;
}

.ImgContainerHero {
  float: left;
  width: 135px;

  img {
    width: 100%;
  }
}

.ImgContainer {
  width: 135px;
  display: block;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

.Clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.PokemonCardInner,
.PokemonHeroInner {
  h1, 
  h3 {
    text-align: center;
    padding-bottom: 1em;
  }
}
.CenterContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content  {
  width: 100% !important;       //
  background: none !important;  //Don´t have support yet for CSS, this is an ugly solution.
  border: none !important;      //
  display: flex;
  align-items: center;
  justify-content: center;
}